@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

:root {
  --main-color: #00adb5;
  --secondary-color: #222831;
  --tertiary-color: #393e46;
  --quaternary-color: #eeeeee;
}

/* Hide Scrollbar on Chrome */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  /* Hide Scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

i {
  pointer-events: none;
}

.blurred {
  filter: blur(3px);
}

.disabled {
  display: none;
}

.top-bar {
  position: relative;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  transition: 0.3s;
}

.top-bar .toggle-sidebar-btn {
  display: none;
  padding: 0 0.8rem;
  cursor: pointer;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  color: var(--quaternary-color);
}

.top-bar .toggle-sidebar-btn:hover {
  color: var(--tertiary-color);
}

.top-bar .home-btn {
  margin-top: 3px;
  margin-right: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: var(--quaternary-color);
}

.top-bar .home-btn:hover {
  color: var(--tertiary-color);
}

.top-bar .search-bar-container {
  width: 35%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.top-bar .search-bar-container #search-bar {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.3rem 0;
  border: none;
  outline: none;
}

.top-bar .search-bar-container #search-bar-submit-btn {
  margin: 0 0.5rem;
  font-size: 1rem;
  color: var(--tertiary-color);
}

.top-bar .search-bar-container #search-bar-submit-btn:hover {
  color: var(--main-color);
}

.content {
  /* 100 % height minus header height */
  height: calc(100% - 48.38px);
  display: flex;
  overflow: hidden;
  transition: 0.3s;
}

.content .sidebar {
  background-color: var(--quaternary-color);
  width: 450px;
  min-height: 100%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.sidebar .sidebar-title {
  padding: 1rem;
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.sidebar .lists-container {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.lists-container .lists-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.sidebar .lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists-container .list {
  width: 85%;
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  margin: 1rem 1.5rem 0 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.lists-container .list:hover {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
}

.list .list-name {
  margin-left: 1rem;
  pointer-events: none;
}

.list .delete-list-btn {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 0.8rem;
  opacity: 0;
  transition: 0.2s;
  color: var(--quaternary-color);
}

.list:hover .delete-list-btn {
  opacity: 1;
}

.lists-container .add-list-input-container {
  display: flex;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--main-color);
  width: 80%;
}

.add-list-input-container .add-list-input {
  width: inherit;
  font-size: 1.3rem;
  padding: 0.3rem 0;
  border: none;
  outline: none;
  background-color: inherit;
}

.add-list-input-container .add-list-input::placeholder {
  color: var(--tertiary-color);
}

.add-list-input-container .add-list-btn {
  font-size: 1rem;
  color: var(--secondary-color);
}

.add-list-input-container .add-list-btn:hover {
  color: var(--quaternary-color);
}

.list-view {
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  padding: 2rem 4rem;
  overflow-y: auto;
  color: var(--quaternary-color);
}

.list-view .list-view-header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.list-view-header .list-view-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.list-view-header .list-view-name {
  font-size: 2rem;
}

.list-view-header .list-todos-remaining-counter {
  font-size: 2rem;
  margin-left: auto;
}

.list-view .todo-container .todo {
  display: flex;
  align-items: center;
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  margin: 1rem 0;
}

.todo-container .todo:hover {
  cursor: pointer;
  border: 1px solid var(--quaternary-color);
  background-color: var(--main-color);
  color: var(--quaternary-color);
}

.todo-container .todo:hover button {
  color: var(--quaternary-color);
}

.checkbox-container {
  position: relative;
  margin-right: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container label {
  background-color: #fff;
  border: 1px solid var(--tertiary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  pointer-events: none;
}

.checkbox-container label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  height: 28px;
  width: 28px;
  pointer-events: all;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked + label {
  background-color: var(--tertiary-color);
  border-color: var(--secondary-color);
}

.checkbox-container input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.todo .todo-info-container {
  pointer-events: none;
}

.todo .due-date-container {
  margin-left: auto;
  margin-right: 0.5rem;
  pointer-events: none;
}

.todo .todo-btn-container {
  display: flex;
}

.todo .todo-btn-container button {
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--secondary-color);
}

.list-view .open-new-todo-form-btn-container {
  border: 1px solid var(--quaternary-color);
  border-radius: 50%;
  background-color: var(--main-color);
  width: max-content;
  margin-top: 2rem;
}

.list-view .open-new-todo-form-btn-container:hover {
  background-color: var(--tertiary-color);
  border: 1px solid var(--main-color);
}

.list-view .open-new-todo-form-btn-container:hover .open-new-todo-form-btn {
  color: var(--quaternary-color);
}

.open-new-todo-form-btn-container .open-new-todo-form-btn {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  color: var(--secondary-color);
}

.todo-overview-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.todo-overview-container.active {
  opacity: 1;
  pointer-events: auto;
}

.todo-overview {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  padding: 1rem;
  border: 1px solid var(--quaternary-color);
  border-radius: 10px;
  width: 50%;
}

.todo-overview-close-btn-container {
  float: right;
  position: relative;
  bottom: 10px;
}

.todo-overview-close-btn {
  font-size: 1.3rem;
  color: var(--quaternary-color);
}

.todo-overview-close-btn:hover {
  color: var(--main-color);
}

.todo-overview-info p {
  padding: 0.2rem 0;
  font-size: 1.1rem;
}

.todo-overview-info-name {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.todo-form-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.todo-form-container.active {
  opacity: 1;
  pointer-events: auto;
}

.todo-form {
  position: relative;
  width: 30%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border: 1px solid var(--quaternary-color);
  border-radius: 10px;
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  z-index: 1000;
}

.todo-form .todo-form-close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.3rem;
  color: var(--quaternary-color);
}

.todo-form .todo-form-close-btn:hover {
  color: var(--main-color);
}

.todo-form h2 {
  align-self: center;
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.todo-form label {
  font-weight: 500;
  font-size: 1.1rem;
}

.todo-form input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--quaternary-color);
  font-size: 1.1rem;
  outline: none;
}

.todo-form select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--quaternary-color);
  font-size: 1.1rem;
  outline: none;
}

.todo-form textarea {
  background-color: var(--quaternary-color);
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  outline: none;
}

.todo-form .todo-form-submit-btn {
  font-size: 1.3rem;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  margin-top: 1rem;
}

.todo-form .todo-form-submit-btn:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

/* MEDIA QUERIES */
@media (max-height: 768px) {
  .todo-form textarea {
    height: 10rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .top-bar {
    position: relative;
    z-index: 100;
  }

  .top-bar .toggle-sidebar-btn {
    display: block;
    margin-right: auto;
  }

  .top-bar .home-btn {
    margin-right: 0.5rem;
  }

  .top-bar .search-bar-container {
    width: 70%;
    margin-right: auto;
  }

  /* Start minimized by default */
  .content .sidebar {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: -1024px;
    width: 100vw;
    opacity: 0;
    z-index: 10;
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }

  /* Fill entire viewport when active */
  .content .sidebar.active {
    left: 0px;
    opacity: 1;
  }

  .sidebar .sidebar-title {
    margin-top: 4rem;
    font-size: 3rem;
  }

  .lists-container {
    padding: 0 3rem;
  }

  .lists-container .lists-title {
    font-size: 2.5rem;
  }

  .lists-container .list {
    font-size: 2.5rem;
  }

  .lists-container .list button {
    font-size: 1.5rem;
  }

  .lists-container .list .delete-list-btn {
    opacity: 1;
    color: var(--secondary-color);
  }

  .add-list-input-container .add-list-input {
    font-size: 2rem;
    width: 90%;
  }

  .add-list-input-container .add-list-btn {
    font-size: 1.5rem;
  }

  .list-view {
    width: 100%;
    padding: 4rem;
  }

  .list-view .list-view-header {
    padding: 0.5rem 0 1rem 0;
  }

  .list-view-header .list-view-icon {
    font-size: 2.5rem;
    margin-right: 1rem;
  }

  .list-view-header .list-view-name {
    font-size: 2.5rem;
  }

  .list-view-header .list-todos-remaining-counter {
    font-size: 2.5rem;
  }

  .list-view .open-new-todo-form-btn {
    font-size: 1.8rem;
    width: 75px;
    height: 75px;
  }

  .todo .todo-info-container {
    font-size: 2.3rem;
  }

  .todo .due-date-container {
    font-size: 2.3rem;
  }

  .todo .todo-btn-container button {
    font-size: 1.5rem;
    opacity: 1;
  }

  .todo-overview {
    width: 95%;
  }

  .todo-overview-close-btn {
    font-size: 2rem;
  }

  .todo-overview-info h2 {
    font-size: 3.5rem;
  }

  .todo-overview-info p {
    font-size: 2.3rem;
  }

  .todo-form {
    width: 95%;
  }

  .todo-form .todo-form-close-btn {
    font-size: 2rem;
  }

  .todo-form .todo-form-title {
    font-size: 4rem;
  }

  .todo-form label {
    font-size: 2rem;
  }

  .todo-form input {
    font-size: 2rem;
  }

  .todo-form select {
    font-size: 2rem;
  }

  .todo-form .todo-form-submit-btn {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .top-bar {
    position: relative;
    z-index: 100;
  }

  .top-bar .toggle-sidebar-btn {
    display: block;
  }

  .top-bar .home-btn {
    margin-right: 0.5rem;
  }

  .top-bar .search-bar-container {
    width: 90%;
    margin-right: 3rem;
  }

  /* Start minimized by default */
  .content .sidebar {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: -500px;
    width: 100vw;
    opacity: 0;
    z-index: 10;
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }

  /* Fill entire viewport when active */
  .content .sidebar.active {
    left: 0px;
    opacity: 1;
  }

  .sidebar .sidebar-title {
    margin-top: 2em;
  }

  .lists-container .list .delete-list-btn {
    opacity: 1;
    color: var(--secondary-color);
  }

  .list-view {
    width: 100%;
    padding: 1rem;
  }

  .list-view .list-view-header {
    padding: 0.5rem 0 1rem 0;
  }

  .list-view-header .list-view-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .list-view-header .list-view-name {
    font-size: 1.5rem;
  }

  .list-view-header .list-todos-remaining-counter {
    font-size: 1.5rem;
  }

  .todo .todo-btn-container button {
    opacity: 1;
  }

  .todo-overview {
    width: 95%;
  }

  .todo-form {
    width: 95%;
  }
}
